body     {
    background:#231F20;
    text-align:center;
  }
  
  h1         {
    color:#FFF;
    font-family: 'Oswald', sans-serif;
    font-weight:700;
    position:relative;  
    margin:30px auto;
    text-transform:uppercase;
    width:550px;
  }
 
  h1::before{
      content:' ';
      display: inline-block;
      background:#4A90E2;
      width:22px;
      height:27px;
      border-radius: 50% 0 0 50% ;
  }
  
  h1::after{
    content:' ';
    display: inline-block;
    background:#4A90E2;
    width:22px;
    height:28px;
    border-radius: 0  50% 50% 0 ;
}
